b {
    display: block;
    padding: 5px 0px;
}
.container {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 15px;
}
.artistWidget {
    height: 100%;
    width: 20%;
    min-width: 120px;
    font: 14px "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    color: #333;
    display: block;
    margin: 0 1%
}

.songDetailWidgetSmall {
    width: 80%;
    height: 170px;
    font: 12px "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    color: #333;
    overflow: hidden;
    min-width: 100px;
    z-index: 0;
    
}

.songDetailWidgetSmall::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom:0;
    height:20px;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5) 90%,#fff);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255 0.5) 90%, rgb(255, 255, 255));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}
.songDetailWidgetExpanded{
    width: 80%;
    height: auto;
    font: 12px "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    color: #333;
    overflow: visible;
    min-width: 100px;
    z-index: 0;
}
.detailsContainer {
    padding: 10px 0;
}
.descriptionTagContainer {
    padding-bottom: 35px;
}
.tag {
    float: left;
    margin: 0 6px 6px 0;
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    background: #999;
    border: 1px solid #999;
    border-left-width: 0;
    color: #fff;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 20px;
    user-select: none;
    list-style: none;
    content: "#";
    display: block;
    margin-right: 3px;
}

.tag:hover {
    background: #666;
}
img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
    text-align: center;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
    object-fit: cover;
}

#songDetailContainer {
    font: 14px "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    font-size: 12px;
    color: #999;
}
.followAndTrackCount {
    color: #999;
    font-size: 11px;
    line-height: 12px;
    margin-bottom:10px;
}

.ArtistTrackBadge {
    color: #999;
    padding: 0 5px;
    cursor: pointer;
}

.ArtistFollowBadge {
    color: #999;
    padding-right: 5px;
    cursor: pointer;
}

#artistName {
    font: 14px "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Verdana,Tahoma,sans-serif;
    color: #333;
    margin-bottom: 10px;
    margin-top: 5px;

}

#followArtistButton {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    height: 22px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;
}
#followingArtistButton {
    border-color: #e5e5e5;
    color: #f50;
    background-color: #fff;
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    height: 22px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-sizing: border-box;

}
#followingArtistButton:hover {
    border-color: #f50;
}
.showMoreText{
    width: 400px;
    height: 20px;
    color: #999;
}
.showMoreText:hover {
    color: #333;
    cursor: pointer;
}
.showMoreText:active {
    color: #333;
}

.artistNameToolTipContainer {
    cursor: pointer;
    width: 10%;

}

.songDescriptionAt {
    color: #38d;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.songDescriptionAt span {
    display: none;
}
.songDescriptionAt:hover > span {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20px;
    right: calc(50% - 100px);
    width:150px;
    color: #333;
    background: #fff;
    min-height:199px;
    text-align: center;
    visibility: visible;
    border: 1px solid #ccc;
    box-shadow: 0 2px 7px -1px rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.songDescriptionAt:hover span img{

    border-radius: 50%;
    text-align: center;
    position: center;
    background-repeat: no-repeat;
    display: block;
    width:80px;
    height: 80px;
    opacity: 1;
    box-shadow: rgba(0,0,0, .1) 0 0 0 1px inset;
    transition: opacity .2s linear;
    bottom: 100%;
}

.songDescriptionAt:hover > span .songComponentAtArtistName{
    text-align: center;
    position: center;
    background-repeat: no-repeat;
    display: block;
    font-size: 14px;
    font-weight:100;
    color: #333;
}

.songDescriptionAt:hover > span small{
    text-align: center;
    position: center;
    background-repeat: no-repeat;
    font-weight:100;
    color: #666;
}
.songDescriptionAt:hover {
    color: #666;
    cursor: pointer;
}

.reportButton {
    font-size: 10px;
    color: #666;
    cursor: pointer;
}

.reportButton:hover {
    color:#333;
    cursor: pointer;
}

.songDescriptionURL {
    color: #38d;
    cursor: pointer;
}
.songDescriptionURL:hover {
    color: #666;
    cursor: pointer;
}